.alerta {
    padding: 0.5rem;
    text-align: center;
    color: aliceblue;
    font-weight: $bold;
    text-transform:uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
    &.error {
        background-color: $red;
    }
    &.exito {
        background-color: $verde;
    }
}

table.propiedades {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;

    thead {
        background-color: $verde;

        th {
            color: $blanco;
            padding: 2rem;
        }
    }

    .imagen-tabla {
        width: 10rem;
    }
}

.imagen-small {
    width: 20rem;
}